.carousel_container{
    margin: 10px 10px;
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
}
.carousel_content{
    display: flex;
    will-change: transform;
    transform: translate3d(0, 0, 0); 
}
.carousel_image{
    width: 250px;
    height: 440px;
    border: 1px solid #000;
    object-fit: cover;  
    object-position: 50% 21%;
    margin-right: 40px;
    border-radius: 16px; 
    flex-shrink: 0;
    cursor: pointer;
    user-select: none; 
    pointer-events: auto; 
}
.modal_image_wrapper {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center; 
}
.modal_window_image{
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 10;
}
.modal_window_image a {
    display: flex;
    justify-content: center;
    width: fit-content; 
}
.modal_image{
   width: 100%;
    height: 100%;
    object-fit: cover;  
    object-position: 50% 21%;
    display: block;
}
.modal_close_button{
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255,255,255,0.8);
  width: 100px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  border-radius: 8px; 
}
@media (min-width: 1025px) {
  .carousel_image {
    width: 220px;
    height: 380px;
    margin-right: 30px;
  }

  .modal_image {
    width: 40vw;
    height: 85vh;                   
    object-fit: cover;         
    object-position: center 10%;
  }
}
@media (max-width: 1024px) {
  .carousel_image {
    width: 200px;
    height: 360px;
    margin-right: 30px;
  }

  .modal_image {
    width: 40vw;
    height: 70vh;                   
    object-fit: cover;         
    object-position: center 10%;
  }
}
@media (max-width: 768px) {
  .carousel_image {
    width: 160px;
    height: 280px;
    margin-right: 20px;
  }

  .modal_image {
    width: 50vw;
    height: 65vh;                   
    object-fit: cover;         
    object-position: center 10%;
  }
}
@media (max-width: 480px) {
  .carousel_image {
    width: 140px;
    height: 240px;
    margin-right: 15px;
  }

  .modal_image {
    width: 80vw;
    height: 60vh;                   
    object-fit: cover;         
    object-position: center 10%;

  }
}